<!DOCTYPE html>
<html>

    <head>
	<title>Error messages</title>
    </head>

    <body>
	<h1>Errors</h1>

	{% if errors %}

	<table>

	    {% for e in errors %}

	    <tr>
		<td>{{ e.file }}</td>
		<td>{{ e.line }}</td>
		<td>{{ e.numger }}</td>
		<td>{{ e.message }}</td>
	    </tr>

	    {% endfor %}

	</table>

    {% else %}

        <p>no error!</p>

        {% endif %}

        <h1>Warning</h1>

        {% if warnings %}

        <table>
            {% for w in warnings %}
            <tr>
                <td>{{ w.file }}</td>
                <td>{{ w.line }}</td>
                <td>{{ w.numger }}</td>
                <td>{{ w.message }}</td>
            </tr>
            {% endfor %}
        </table>

        {% else %}

        <p>no warning!</p>

        {% endif %}

    </body>

</html>
