<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">

    <title>Error messages</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>

  </head>

  <body>

    <h1><a name="errors">Errors</a></h1>

    {% if errors %}

      <table class="table table-striped">

        {% for e in errors %}

          <tr>
            <td>{{ e.file }}</td>
	    <td>{{ e.line }}</td>
	    <td>{{ e.numger }}</td>
	    <td>{{ e.message }}</td>
          </tr>

        {% endfor %}

      </table>

    {% else %}

      <p>no error!</p>

    {% endif %}

    <h1><a name="warnings">Warning</a></h1>

    {% if warnings %}

      <table class="table table-striped">

        {% for w in warnings %}

          <tr>
            <td>{{ w.file }}</td>
            <td>{{ w.line }}</td>
            <td>{{ w.numger }}</td>
            <td>{{ w.message }}</td>
          </tr>

        {% endfor %}

      </table>

    {% else %}

      <p>no warning!</p>

    {% endif %}

    <h1><a name ="remarks">Remarks</a></h1>

    {% if remarks %}

      <table class="table table-striped">

        {% for r in remarks %}

          <tr>
	    <td>{{ r.file }}</td>
	    <td>{{ r.line }}</td>
	    <td>{{ r.numger }}</td>
	    <td>{{ r.message }}</td>
          </tr>

        {% endfor %}

      </table>

    {% else %}

      <p>no remarks!</p>

    {% endif %}

    <footer class="footer">
      <div class="container">
	<p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>

  </body>

</html>
